<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>RSS feed</title>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">RSS лента новостей</h1>

      <hr class="my-4" />
      <form>
        <div class="form-group">
          <label for="main-input">Форма для добавления rss потока</label>
          <input
            id="main-input"
            class="form-control"
            type="text"
            placeholder="Введите URL"
          />
        </div>
        <button
          id="addRssButton"
          type="submit"
          class="btn btn-primary"
          disabled
        >
          Добавить
        </button>
      </form>
    </div>
    <div id="rss" class="container-fluid"></div>
  </body>
</html>
