<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>RSS feed</title>
  </head>

  <body>
    <div id="myModal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="modal-title" class="modal-title"></h4>
            <button class="close" data-dismiss="modal">x</button>
          </div>
          <div id="modal-body" class="modal-body"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <h1 class="display-4">RSS лента новостей</h1>

      <hr class="my-4" />
      <form>
        <div class="form-group">
          <label for="main-input"
            ><strong>RSS</strong> (англ. Rich Site Summary — обогащённая сводка
            сайта) — семейство XML-форматов, предназначенных для описания лент
            новостей, анонсов статей, изменений в блогах и т. п.</label
          >
          <input
            id="main-input"
            class="form-control"
            type="text"
            placeholder="Введите URL"
          />
        </div>
        <button
          id="addRssButton"
          type="submit"
          class="btn btn-primary"
          disabled
        >
          Добавить
        </button>
      </form>
    </div>
    <div id="rss" class="container-fluid"></div>
  </body>
</html>
